
Library
Temp
.vs
bin/
obj/
Logs/
*.user
*.userprefs
*.vsidx
*.suo
*.log
.vs/AppreciationAlley/v17/.suo
.vs/AppreciationAlley/v17/.suo
*.log
*.log
.vsconfig
*.settings
MK.MeshUtility.csproj
MK.MKTextureChannelPacker.csproj
MK.RampCreator.csproj
MK.Toon.csproj
MK.Toon.Editor.csproj
MK.Toon.URP.csproj
MK.Toon.URP.Editor.csproj
NativeGallery.Editor.csproj
NativeGallery.Runtime.csproj
*.cache
UserSettings/Layouts/default-2022.dwlt
